EasyAppointmentCustomerClient/xml-resources/web-service-references/CustomerWebService/wsdl/localhost_8080/CustomerWebService/CustomerWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="CustomerWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/CustomerWebService/CustomerWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="retrieveAllAvailableServiceProvidersForTheDay">
<part name="parameters" element="tns:retrieveAllAvailableServiceProvidersForTheDay"/>
</message>
<message name="retrieveAllAvailableServiceProvidersForTheDayResponse">
<part name="parameters" element="tns:retrieveAllAvailableServiceProvidersForTheDayResponse"/>
</message>
<message name="BusinessCategoryNotFoundException">
<part name="fault" element="tns:BusinessCategoryNotFoundException"/>
</message>
<message name="retrieveServiceProviderAvailabilityForTheDay">
<part name="parameters" element="tns:retrieveServiceProviderAvailabilityForTheDay"/>
</message>
<message name="retrieveServiceProviderAvailabilityForTheDayResponse">
<part name="parameters" element="tns:retrieveServiceProviderAvailabilityForTheDayResponse"/>
</message>
<message name="retrieveServiceProviderByServiceProviderId">
<part name="parameters" element="tns:retrieveServiceProviderByServiceProviderId"/>
</message>
<message name="retrieveServiceProviderByServiceProviderIdResponse">
<part name="parameters" element="tns:retrieveServiceProviderByServiceProviderIdResponse"/>
</message>
<message name="ServiceProviderEntityNotFoundException">
<part name="fault" element="tns:ServiceProviderEntityNotFoundException"/>
</message>
<message name="retrieveCustomerEntityAppointments">
<part name="parameters" element="tns:retrieveCustomerEntityAppointments"/>
</message>
<message name="retrieveCustomerEntityAppointmentsResponse">
<part name="parameters" element="tns:retrieveCustomerEntityAppointmentsResponse"/>
</message>
<message name="CustomerNotFoundException">
<part name="fault" element="tns:CustomerNotFoundException"/>
</message>
<message name="createCustomerEntity">
<part name="parameters" element="tns:createCustomerEntity"/>
</message>
<message name="createCustomerEntityResponse">
<part name="parameters" element="tns:createCustomerEntityResponse"/>
</message>
<message name="UnknownPersistenceException">
<part name="fault" element="tns:UnknownPersistenceException"/>
</message>
<message name="CustomerExistException">
<part name="fault" element="tns:CustomerExistException"/>
</message>
<message name="generateOverallRating">
<part name="parameters" element="tns:generateOverallRating"/>
</message>
<message name="generateOverallRatingResponse">
<part name="parameters" element="tns:generateOverallRatingResponse"/>
</message>
<message name="retrieveCustomerEntityById">
<part name="parameters" element="tns:retrieveCustomerEntityById"/>
</message>
<message name="retrieveCustomerEntityByIdResponse">
<part name="parameters" element="tns:retrieveCustomerEntityByIdResponse"/>
</message>
<message name="retrieveAllBusinessCategories">
<part name="parameters" element="tns:retrieveAllBusinessCategories"/>
</message>
<message name="retrieveAllBusinessCategoriesResponse">
<part name="parameters" element="tns:retrieveAllBusinessCategoriesResponse"/>
</message>
<message name="rateAppointment">
<part name="parameters" element="tns:rateAppointment"/>
</message>
<message name="rateAppointmentResponse">
<part name="parameters" element="tns:rateAppointmentResponse"/>
</message>
<message name="addAppointment">
<part name="parameters" element="tns:addAppointment"/>
</message>
<message name="addAppointmentResponse">
<part name="parameters" element="tns:addAppointmentResponse"/>
</message>
<message name="customerLogin">
<part name="parameters" element="tns:customerLogin"/>
</message>
<message name="customerLoginResponse">
<part name="parameters" element="tns:customerLoginResponse"/>
</message>
<message name="InvalidLoginCredentialException">
<part name="fault" element="tns:InvalidLoginCredentialException"/>
</message>
<message name="createAppointmentEntity">
<part name="parameters" element="tns:createAppointmentEntity"/>
</message>
<message name="createAppointmentEntityResponse">
<part name="parameters" element="tns:createAppointmentEntityResponse"/>
</message>
<message name="AppointmentExistException">
<part name="fault" element="tns:AppointmentExistException"/>
</message>
<message name="cancelAppointment">
<part name="parameters" element="tns:cancelAppointment"/>
</message>
<message name="cancelAppointmentResponse">
<part name="parameters" element="tns:cancelAppointmentResponse"/>
</message>
<message name="AppointmentNotFoundException">
<part name="fault" element="tns:AppointmentNotFoundException"/>
</message>
<portType name="CustomerWebService">
<operation name="retrieveAllAvailableServiceProvidersForTheDay">
<input wsam:Action="http://ws.session.ejb/CustomerWebService/retrieveAllAvailableServiceProvidersForTheDayRequest" message="tns:retrieveAllAvailableServiceProvidersForTheDay"/>
<output wsam:Action="http://ws.session.ejb/CustomerWebService/retrieveAllAvailableServiceProvidersForTheDayResponse" message="tns:retrieveAllAvailableServiceProvidersForTheDayResponse"/>
<fault message="tns:BusinessCategoryNotFoundException" name="BusinessCategoryNotFoundException" wsam:Action="http://ws.session.ejb/CustomerWebService/retrieveAllAvailableServiceProvidersForTheDay/Fault/BusinessCategoryNotFoundException"/>
</operation>
<operation name="retrieveServiceProviderAvailabilityForTheDay">
<input wsam:Action="http://ws.session.ejb/CustomerWebService/retrieveServiceProviderAvailabilityForTheDayRequest" message="tns:retrieveServiceProviderAvailabilityForTheDay"/>
<output wsam:Action="http://ws.session.ejb/CustomerWebService/retrieveServiceProviderAvailabilityForTheDayResponse" message="tns:retrieveServiceProviderAvailabilityForTheDayResponse"/>
</operation>
<operation name="retrieveServiceProviderByServiceProviderId">
<input wsam:Action="http://ws.session.ejb/CustomerWebService/retrieveServiceProviderByServiceProviderIdRequest" message="tns:retrieveServiceProviderByServiceProviderId"/>
<output wsam:Action="http://ws.session.ejb/CustomerWebService/retrieveServiceProviderByServiceProviderIdResponse" message="tns:retrieveServiceProviderByServiceProviderIdResponse"/>
<fault message="tns:ServiceProviderEntityNotFoundException" name="ServiceProviderEntityNotFoundException" wsam:Action="http://ws.session.ejb/CustomerWebService/retrieveServiceProviderByServiceProviderId/Fault/ServiceProviderEntityNotFoundException"/>
</operation>
<operation name="retrieveCustomerEntityAppointments">
<input wsam:Action="http://ws.session.ejb/CustomerWebService/retrieveCustomerEntityAppointmentsRequest" message="tns:retrieveCustomerEntityAppointments"/>
<output wsam:Action="http://ws.session.ejb/CustomerWebService/retrieveCustomerEntityAppointmentsResponse" message="tns:retrieveCustomerEntityAppointmentsResponse"/>
<fault message="tns:CustomerNotFoundException" name="CustomerNotFoundException" wsam:Action="http://ws.session.ejb/CustomerWebService/retrieveCustomerEntityAppointments/Fault/CustomerNotFoundException"/>
</operation>
<operation name="createCustomerEntity">
<input wsam:Action="http://ws.session.ejb/CustomerWebService/createCustomerEntityRequest" message="tns:createCustomerEntity"/>
<output wsam:Action="http://ws.session.ejb/CustomerWebService/createCustomerEntityResponse" message="tns:createCustomerEntityResponse"/>
<fault message="tns:UnknownPersistenceException" name="UnknownPersistenceException" wsam:Action="http://ws.session.ejb/CustomerWebService/createCustomerEntity/Fault/UnknownPersistenceException"/>
<fault message="tns:CustomerExistException" name="CustomerExistException" wsam:Action="http://ws.session.ejb/CustomerWebService/createCustomerEntity/Fault/CustomerExistException"/>
</operation>
<operation name="generateOverallRating">
<input wsam:Action="http://ws.session.ejb/CustomerWebService/generateOverallRatingRequest" message="tns:generateOverallRating"/>
<output wsam:Action="http://ws.session.ejb/CustomerWebService/generateOverallRatingResponse" message="tns:generateOverallRatingResponse"/>
</operation>
<operation name="retrieveCustomerEntityById">
<input wsam:Action="http://ws.session.ejb/CustomerWebService/retrieveCustomerEntityByIdRequest" message="tns:retrieveCustomerEntityById"/>
<output wsam:Action="http://ws.session.ejb/CustomerWebService/retrieveCustomerEntityByIdResponse" message="tns:retrieveCustomerEntityByIdResponse"/>
<fault message="tns:CustomerNotFoundException" name="CustomerNotFoundException" wsam:Action="http://ws.session.ejb/CustomerWebService/retrieveCustomerEntityById/Fault/CustomerNotFoundException"/>
</operation>
<operation name="retrieveAllBusinessCategories">
<input wsam:Action="http://ws.session.ejb/CustomerWebService/retrieveAllBusinessCategoriesRequest" message="tns:retrieveAllBusinessCategories"/>
<output wsam:Action="http://ws.session.ejb/CustomerWebService/retrieveAllBusinessCategoriesResponse" message="tns:retrieveAllBusinessCategoriesResponse"/>
</operation>
<operation name="rateAppointment">
<input wsam:Action="http://ws.session.ejb/CustomerWebService/rateAppointmentRequest" message="tns:rateAppointment"/>
<output wsam:Action="http://ws.session.ejb/CustomerWebService/rateAppointmentResponse" message="tns:rateAppointmentResponse"/>
</operation>
<operation name="addAppointment">
<input wsam:Action="http://ws.session.ejb/CustomerWebService/addAppointmentRequest" message="tns:addAppointment"/>
<output wsam:Action="http://ws.session.ejb/CustomerWebService/addAppointmentResponse" message="tns:addAppointmentResponse"/>
</operation>
<operation name="customerLogin">
<input wsam:Action="http://ws.session.ejb/CustomerWebService/customerLoginRequest" message="tns:customerLogin"/>
<output wsam:Action="http://ws.session.ejb/CustomerWebService/customerLoginResponse" message="tns:customerLoginResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/CustomerWebService/customerLogin/Fault/InvalidLoginCredentialException"/>
</operation>
<operation name="createAppointmentEntity">
<input wsam:Action="http://ws.session.ejb/CustomerWebService/createAppointmentEntityRequest" message="tns:createAppointmentEntity"/>
<output wsam:Action="http://ws.session.ejb/CustomerWebService/createAppointmentEntityResponse" message="tns:createAppointmentEntityResponse"/>
<fault message="tns:UnknownPersistenceException" name="UnknownPersistenceException" wsam:Action="http://ws.session.ejb/CustomerWebService/createAppointmentEntity/Fault/UnknownPersistenceException"/>
<fault message="tns:AppointmentExistException" name="AppointmentExistException" wsam:Action="http://ws.session.ejb/CustomerWebService/createAppointmentEntity/Fault/AppointmentExistException"/>
<fault message="tns:CustomerNotFoundException" name="CustomerNotFoundException" wsam:Action="http://ws.session.ejb/CustomerWebService/createAppointmentEntity/Fault/CustomerNotFoundException"/>
<fault message="tns:ServiceProviderEntityNotFoundException" name="ServiceProviderEntityNotFoundException" wsam:Action="http://ws.session.ejb/CustomerWebService/createAppointmentEntity/Fault/ServiceProviderEntityNotFoundException"/>
</operation>
<operation name="cancelAppointment">
<input wsam:Action="http://ws.session.ejb/CustomerWebService/cancelAppointmentRequest" message="tns:cancelAppointment"/>
<output wsam:Action="http://ws.session.ejb/CustomerWebService/cancelAppointmentResponse" message="tns:cancelAppointmentResponse"/>
<fault message="tns:AppointmentNotFoundException" name="AppointmentNotFoundException" wsam:Action="http://ws.session.ejb/CustomerWebService/cancelAppointment/Fault/AppointmentNotFoundException"/>
</operation>
</portType>
<binding name="CustomerWebServicePortBinding" type="tns:CustomerWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="retrieveAllAvailableServiceProvidersForTheDay">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessCategoryNotFoundException">
<soap:fault name="BusinessCategoryNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveServiceProviderAvailabilityForTheDay">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveServiceProviderByServiceProviderId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceProviderEntityNotFoundException">
<soap:fault name="ServiceProviderEntityNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveCustomerEntityAppointments">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CustomerNotFoundException">
<soap:fault name="CustomerNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="createCustomerEntity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UnknownPersistenceException">
<soap:fault name="UnknownPersistenceException" use="literal"/>
</fault>
<fault name="CustomerExistException">
<soap:fault name="CustomerExistException" use="literal"/>
</fault>
</operation>
<operation name="generateOverallRating">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveCustomerEntityById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CustomerNotFoundException">
<soap:fault name="CustomerNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveAllBusinessCategories">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="rateAppointment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addAppointment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="customerLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
<operation name="createAppointmentEntity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UnknownPersistenceException">
<soap:fault name="UnknownPersistenceException" use="literal"/>
</fault>
<fault name="AppointmentExistException">
<soap:fault name="AppointmentExistException" use="literal"/>
</fault>
<fault name="CustomerNotFoundException">
<soap:fault name="CustomerNotFoundException" use="literal"/>
</fault>
<fault name="ServiceProviderEntityNotFoundException">
<soap:fault name="ServiceProviderEntityNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="cancelAppointment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AppointmentNotFoundException">
<soap:fault name="AppointmentNotFoundException" use="literal"/>
</fault>
</operation>
</binding>
<service name="CustomerWebService">
<port name="CustomerWebServicePort" binding="tns:CustomerWebServicePortBinding">
<soap:address location="http://localhost:8080/CustomerWebService/CustomerWebService"/>
</port>
</service>
</definitions>