EasyAppointmentCustomerClient/src/META-INF/wsdl/localhost_8080/CustomerWebService/CustomerWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="CustomerWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/CustomerWebService/CustomerWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="createCustomerEntity">
<part name="parameters" element="tns:createCustomerEntity"/>
</message>
<message name="createCustomerEntityResponse">
<part name="parameters" element="tns:createCustomerEntityResponse"/>
</message>
<message name="UnknownPersistenceException">
<part name="fault" element="tns:UnknownPersistenceException"/>
</message>
<message name="CustomerExistException">
<part name="fault" element="tns:CustomerExistException"/>
</message>
<message name="customerLogin">
<part name="parameters" element="tns:customerLogin"/>
</message>
<message name="customerLoginResponse">
<part name="parameters" element="tns:customerLoginResponse"/>
</message>
<message name="InvalidLoginCredentialException">
<part name="fault" element="tns:InvalidLoginCredentialException"/>
</message>
<message name="retrieveCustomerEntityById">
<part name="parameters" element="tns:retrieveCustomerEntityById"/>
</message>
<message name="retrieveCustomerEntityByIdResponse">
<part name="parameters" element="tns:retrieveCustomerEntityByIdResponse"/>
</message>
<message name="CustomerNotFoundException">
<part name="fault" element="tns:CustomerNotFoundException"/>
</message>
<portType name="CustomerWebService">
<operation name="createCustomerEntity">
<input wsam:Action="http://ws.session.ejb/CustomerWebService/createCustomerEntityRequest" message="tns:createCustomerEntity"/>
<output wsam:Action="http://ws.session.ejb/CustomerWebService/createCustomerEntityResponse" message="tns:createCustomerEntityResponse"/>
<fault message="tns:UnknownPersistenceException" name="UnknownPersistenceException" wsam:Action="http://ws.session.ejb/CustomerWebService/createCustomerEntity/Fault/UnknownPersistenceException"/>
<fault message="tns:CustomerExistException" name="CustomerExistException" wsam:Action="http://ws.session.ejb/CustomerWebService/createCustomerEntity/Fault/CustomerExistException"/>
</operation>
<operation name="customerLogin">
<input wsam:Action="http://ws.session.ejb/CustomerWebService/customerLoginRequest" message="tns:customerLogin"/>
<output wsam:Action="http://ws.session.ejb/CustomerWebService/customerLoginResponse" message="tns:customerLoginResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/CustomerWebService/customerLogin/Fault/InvalidLoginCredentialException"/>
</operation>
<operation name="retrieveCustomerEntityById">
<input wsam:Action="http://ws.session.ejb/CustomerWebService/retrieveCustomerEntityByIdRequest" message="tns:retrieveCustomerEntityById"/>
<output wsam:Action="http://ws.session.ejb/CustomerWebService/retrieveCustomerEntityByIdResponse" message="tns:retrieveCustomerEntityByIdResponse"/>
<fault message="tns:CustomerNotFoundException" name="CustomerNotFoundException" wsam:Action="http://ws.session.ejb/CustomerWebService/retrieveCustomerEntityById/Fault/CustomerNotFoundException"/>
</operation>
</portType>
<binding name="CustomerWebServicePortBinding" type="tns:CustomerWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createCustomerEntity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UnknownPersistenceException">
<soap:fault name="UnknownPersistenceException" use="literal"/>
</fault>
<fault name="CustomerExistException">
<soap:fault name="CustomerExistException" use="literal"/>
</fault>
</operation>
<operation name="customerLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
<operation name="retrieveCustomerEntityById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CustomerNotFoundException">
<soap:fault name="CustomerNotFoundException" use="literal"/>
</fault>
</operation>
</binding>
<service name="CustomerWebService">
<port name="CustomerWebServicePort" binding="tns:CustomerWebServicePortBinding">
<soap:address location="http://localhost:8080/CustomerWebService/CustomerWebService"/>
</port>
</service>
</definitions>